body {
    background: #80c9d0
}

contenedor {
    width: 80%;
    max-width: 1200px;
    margin: 80px;
    top: 40px;
}



.banner_img {
    position: absolute;
    border: solid lavender 2px;
    padding: 5px;
    top: 30%;
    right: 20%;
}

    .banner_img img {
        width: 450px;
        display: block;
    }
